extends ../layout
include ../mixins

block vars
  -page_title = 'Welcome'
block content
  .grid-container 
    .grid-x.grid-margin-x
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins'})
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins'})
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins'})
    .div.mb-4.mt-4 
    .grid-x
      .cell
        | Testing image by URL
        .webpack-public-image-test