extends ../layout
include ../mixins

block vars
  -page_title = 'Welcome'
block content
  .grid-container 
    hr
    h2 Testing grid
    .grid-x.grid-margin-x
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins', img: require('@/images/test_only/mini_hulk.jpeg').default})
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins', img: `${unsplash}/700x700/?cat`})
      .cell.medium-4
        +card_news({title: 'Foundation Grid', text: 'Testing Grid and Pug mixins', img: `${unsplash}/700x700/?frog`})
    hr
    h2 Testing Atomic styles for indents
    p.p-b-4.p-t-4
      code .p-b-4.p-t-4
    hr
    .grid-x
      .cell
        h2 Testing svg in image src
        img.btn__icon(src=require('@/images/icons/ukraine.svg').default, alt="Ukraine icon")
        h2 Testing svg inline by pug mixin
        +svg-icon(svg-icon-name='facebook')
    hr
    .grid-x
      .cell
        h2 Testing image by URL in css
        .webpack-public-image-test