//- ############################
//- COMMON THIRD-PARTY LIBRARIES
//- ############################

//- // Swiper (homepage)
//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" integrity="sha256-5l8WteQfd84Jq51ydHtcndbGRvgCVE3D0+s97yV4oms=" crossorigin="anonymous" />

//- // Fancybox (videos)
//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />

//- // LightGallery (single gallery)
//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />