.section,
[data-animation="section"] {
  &#{$animated} {
    [data-animation="title"] {
      @extend [data-animation="title"]#{$loaded};
    }
    [data-animation="subtitle"] {
      @extend [data-animation="subtitle"]#{$loaded};
    }
    [data-animation="text"] {
      @extend [data-animation="text"]#{$loaded};
    }
    [data-animation="fade-in-up"] {
      @extend [data-animation="fade-in-up"]#{$loaded};
    }
    [data-animation="fade-in"] {
      @extend [data-animation="fade-in"]#{$loaded};
    }
  }
  [data-animation="title"] {
    &#{$loaded} {
      @include word-styles {
        transform: none;
        opacity: 1;
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i/10}s;
          }
        }
      }
    }
    @include word-styles {
      transform: translateX($indent-m);
      opacity: 0;
      transition: transform $duration_long $easing, opacity $duration_long $easing;
    }
  }
  [data-animation="subtitle"] {
    &#{$loaded} {
      @include word-styles {
        transform: none;
        opacity: 1;
        @for $i from 1 through 30 {
          &:nth-child(#{$i}) {
            transition-delay: #{.15 + $i/10}s;
          }
        }
      }
      &::before{
        transform: scaleX(1);
        transition-delay: .1s;
      }
    }
    &::before{
      transition: transform $duration $easing;
      transform-origin: left center;
      transform: scaleX(0);
    }
    @include word-styles {
      transform: translateX($indent-m);
      opacity: 0;
      transition: transform $duration_long $easing, opacity $duration_long $easing;
    }
  }
  [data-animation="text"] {
    &#{$loaded} {
      opacity: 1;
      transform: none;
      transition-delay: .15s;
    }
    transition: transform $duration_long $easing, opacity $duration_long $easing;
    opacity: 0;
    transform: translateY(50px) scaleY(1.2);
    transform-origin: top center;
  }
  [data-animation="fade-in-up"] {
    &#{$loaded} {
      opacity: 1;
      transform: none;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: #{.1 + $i/10}s;
        }
      }
    }
    transform: translateY(40px);
    opacity: 0;
    transition: transform $duration_long $easing, opacity $duration_long $easing;
  }
  [data-animation="fade-in"] {
    &#{$loaded} {
      opacity: 1;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: #{.1 + $i/10}s;
        }
      }
    }
    opacity: 0;
    transition: opacity $duration_long $easing;
  }

}
