// font variables and mixins

$f-arial: 'Arial', sans-serif;
$f-icon: 'icomoon';

$primary_font: $f-arial;
$secondary_font: $f-arial;

$f-polyfill-cover: 'object-fit: cover;';
$f-polyfill-contain: 'object-fit: contain;';

//font-weight
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semibold: 600;
$fw_bold: 700;
$fw_extra-bold: 800;
$fw_heavy: 900;
